h1 {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 800;
}

h2 {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 800;
}

h3 {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 800;
}

h4 {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 800;
}

h5 {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 800;
}

h6 {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 800;
}

body p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "header"
        "aside"
        "main"
        "footer";
    gap: 0;
    background-color: black;
    color: white;
}

.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 0.5fr 1.8fr 0.7fr;
    grid-template-areas: 
        "logo search-place user";
    justify-items: center;
    align-items: center;
    margin: 5px 1vw;
}

.logo {
    grid-area: logo;
}

.logo img {
    height: 30px;
    display: flex;
    margin: 1% 5px;
    justify-content: center;
}

.search-place {
    grid-area: search-place;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-place input {
    background-color: darkgray;
    color: black;
    border-radius: 5px;
    border: none;
    margin: 0 5%;
    padding: 5%;
    width: 35vw;
}

.user {
    grid-area: user;
    display: flex;
    align-items: center;
    margin: 0;
    transition: background-color 200ms ease-in-out;
}

.user:hover {
    background-color: grey;
}

.user-img {
    height: 26px;
    margin: 5px 5px; 
    border-radius: 100%;
}


.user h4 {
    font-size: 12px;
}

.aside {
    grid-area: aside;
    display: none;
}

.main {
    grid-area: main;
    display: flex;
    justify-content: center;
    margin: 0;
}

.principal {
    width: 90vw;
    margin: 0;
}
.first-results {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 5px;
}

.target-description {
    background-color: #212121;
    padding: 3%;
    margin: 3%;
    border-radius: 5px;
}

.target-description:hover {
    background-color: #3c3c3c;
}

.first-cover {
    width: 150px;
    border-radius: 5px;
    margin: 10px 0 5px 10px;
}

.first-tittle {
    margin: 10px 0 5px 10px;
}

.first-description {
    display: flex;
    flex-direction: column; 
    margin: 10px 0 5px 10px;  
}

.first-description p {
    font-size: 18px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 0;
}

.first-description h6 {
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 0;
}

.secundary {
    width: 90vw;
    margin: 0;
}

.songs-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2%;
    background-color: #212121;
    justify-items: center;
    padding: 3% 0;
    margin: 3%;
    /* margin-bottom: 5%; */
    border-radius: 5px;
}

.songs-list:hover {
    background-color: #3c3c3c;
}

.song {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    border-radius: 5px;
    text-align: left;
    margin: 0;
    padding: 8px 18px;
}

.song:hover {
    background-color: #424242;
}

.song-cover {
    width:110px;
    border-radius: 5px;
    text-align: center;
    align-items: center;
}

.song-name {
    font-size: 16px;
}

.song-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.song-artist {
    margin: 0;
    font-size: 14px;
}

.song-time {
    font-size: 10px;
    color: #2e7d32;
}

.cards-list {
    padding: 2%;
    margin-bottom: 400px;
}

.card {
    padding: 0 2%;
    display: grid;
    grid-template-columns: 1fr 4fr 0.5fr 0.5fr;
    grid-auto-rows: 100%;
    grid-template-areas: 
        "card-img card-info card-like card-play";
    align-content: center;
    height: 8vh;
    border-bottom: solid #3c3c3c 1px;
}

.card:hover {
    background-color: #3c3c3c;
}

.card-img {
    grid-area: card-img;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 0;
}

.card-img img {
   height: 100%;
}

.card-info {
    grid-area: card-info;
    display: flex;
    flex-direction: column;  
    justify-content: center; 
    margin: 5px 1px;
    padding: 2%;
}


.card-tittle {
    margin: 0;
    padding: 0;
}

.card-tittle h4 {
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
}

.card-artist {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.artist-name {
    padding-left: 2%;
}

.card-artist h5 {
    margin: 0;
    padding: 0;
    font-size: 0.7rem;
}

.card-like {
    grid-area: card-like;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 0;
}

.card-play {
    grid-area: card-play;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 0;
}

.footer {
    grid-area: footer;
    display: grid;
    position: fixed;
    bottom: 0;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "now-playing volume"
        "controls social-media"
    ;
    background-color: black;
    width: 100vw;
    height: 9vh;
    padding: 8px 4px;
}

.footer section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh;
    margin: 0;
    padding: 0;
}

.btn-spotify {
    opacity: 0.8;
    color: white;
    margin: 0 2%;
}

.btn-spotify:hover {
    opacity: 1;
}

.now-playing {
    grid-area: now-playing;
    display: flex;
    align-items: center;
    margin: 0 2%;
}

.now-playing img {
    height: 4vh;
}

.playing-song {
    margin: 0 10px;
    padding: 0;
}

.playing-song h6 {
    margin: 0;
    padding: 0;
    font-size: 10px;
}

.playing-song h5 {
    margin: 0;
    padding: 0;
    font-size: 10px;

}

.controls {
    grid-area: controls;
    display: flex;
    align-items: center;
}

.volume {
    grid-area: volume;
    display: flex;
    justify-content: space-around;
}

.volume-controls {
    width: 30px;

}


/* Input range of the volume */

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 90px;
  }
  
  /* Removes default focus */
  input[type="range"]:focus {
    outline: none;
  }
  
  /******** Chrome, Safari, Opera and Edge Chromium styles ********/
  /* slider track */
  input[type="range"]::-webkit-slider-runnable-track {
    background-color: #eceff1;
    border-radius: 0.5rem;
    height: 0.2rem;
  }
  
  /* slider thumb - initially hidden */
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -2.5px;
    background-color: #2e7d32;
    border-radius: 0.5rem;
    height: 0.5rem;
    width: 0.5rem;
    opacity: 0; /* Initial opacity set to 0 */
    transition: opacity 0.3s ease; /* Add transition effect */
  }
  
  /* Show thumb on hover */
  input[type="range"]:hover::-webkit-slider-thumb {
    opacity: 1;
  }
  
  /* slider track completed when hover */
  input[type="range"]:hover::-webkit-slider-runnable-track {
    background-color: #b2dfdb;
  }

  /* end */

.player-audio {
    visibility: hidden;
}

.hide {
    display: none;
}

.social-media {
    grid-area: social-media;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

.social-media i {
    margin: 4px 8px;
}
/* 
@media only screen and (min-width: 575px) and (max-width: 576px) {

    h1 {
        font-family: 'Nanum Gothic', sans-serif;
        font-weight: 800;
    }
    
    h2 {
        font-family: 'Nanum Gothic', sans-serif;
        font-weight: 800;
    }
    
    h3 {
        font-family: 'Nanum Gothic', sans-serif;
        font-weight: 800;
    }
    
    h4 {
        font-family: 'Nanum Gothic', sans-serif;
        font-weight: 800;
    }
    
    h5 {
        font-family: 'Nanum Gothic', sans-serif;
        font-weight: 800;
    }
    
    h6 {
        font-family: 'Nanum Gothic', sans-serif;
        font-weight: 800;
    }
    
    body p {
        font-family: 'Open Sans', sans-serif;
        font-weight: 800;
    }
    
    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "header"
            "aside"
            "main"
            "footer";
        gap: 0;
        background-color: black;
        color: white;
    }
    
    .header {
        display: grid;
        grid-template-columns: 0.5fr 1.8fr 0.7fr;
        grid-template-areas: 
            "logo search-place user";
        justify-items: center;
        align-items: center;
        margin: 5px 1vw;
    }
    
    .logo {
        grid-area: logo;
    }
    
    .logo img {
        height: 30px;
        display: flex;
        margin: 1% 5px;
        justify-content: center;
    }
    
    .search-place {
        grid-area: search-place;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .search-place input {
        background-color: darkgray;
        color: black;
        border-radius: 5px;
        border: none;
        margin: 0 5%;
        padding: 5%;
        width: 35vw;
    }
    
    .user {
        grid-area: user;
        display: flex;
        align-items: center;
        margin: 0;
        transition: background-color 200ms ease-in-out;
    }
    
    .user:hover {
        background-color: grey;
    }
    
    .user-img {
        height: 26px;
        margin: 5px 5px; 
        border-radius: 100%;
    }
    
    
    .user h4 {
        font-size: 12px;
    }
    
    .aside {
        display: none;
    }
    
    .main {
        display: flex;
        justify-content: center;
        margin: 0;
    }
    
    .principal {
        width: 90vw;
        margin: 0;
    }
    .first-results {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-radius: 5px;
    }
    
    .target-description {
        background-color: #212121;
        padding: 3%;
        margin: 3%;
        border-radius: 5px;
    }
    
    .target-description:hover {
        background-color: #3c3c3c;
    }
    
    .first-cover {
        width: 150px;
        border-radius: 5px;
        margin: 10px 0 5px 10px;
    }
    
    .first-tittle {
        margin: 10px 0 5px 10px;
    }
    
    .first-description {
        display: flex;
        flex-direction: column; 
        margin: 10px 0 5px 10px;  
    }
    
    .first-description p {
        font-size: 18px;
        font-weight: 500;
        margin-top: 5px;
        margin-bottom: 0;
    }
    
    .first-description h6 {
        font-size: 16px;
        font-weight: 600;
        margin-top: 10px;
        margin-bottom: 0;
    }
    
    .secundary {
        width: 90vw;
        margin: 0;
    }
    
    .songs-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2%;
        background-color: #212121;
        justify-items: center;
        padding: 3% 0;
        margin: 3%;
            /* margin-bottom: 5%; */
        border-radius: 5px;
    }
    
    .songs-list:hover {
        background-color: #3c3c3c;
    }
    
    .song {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        border-radius: 5px;
        text-align: left;
        margin: 0;
        padding: 8px 18px;
    }
    
    .song:hover {
        background-color: #424242;
    }
    
    .song-cover {
        width:110px;
        border-radius: 5px;
        text-align: center;
        align-items: center;
    }
    
    .song-name {
        font-size: 16px;
    }
    
    .song-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }
    
    .song-artist {
        margin: 0;
        font-size: 14px;
    }
    
    .song-time {
        font-size: 10px;
        color: #2e7d32;
    }
    
    .cards-list {
        padding: 2%;
        margin-bottom: 400px;
    }
    
    .card {
        padding: 0 2%;
        display: grid;
        grid-template-columns: 1fr 4fr 0.5fr 0.5fr;
        grid-auto-rows: 100%;
        grid-template-areas: 
            "card-img card-info card-like card-play";
        align-content: center;
        height: 8vh;
        border-bottom: solid #3c3c3c 1px;
    }
    
    .card:hover {
        background-color: #3c3c3c;
    }
    
    .card-img {
        grid-area: card-img;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px;
        padding: 0;
    }
    
    .card-img img {
       height: 100%;
    }
    
    .card-info {
        grid-area: card-info;
        display: flex;
        flex-direction: column;  
        justify-content: center; 
        margin: 5px 1px;
        padding: 2%;
    }
    
    
    .card-tittle {
        margin: 0;
        padding: 0;
    }
    
    .card-tittle h4 {
        margin: 0;
        padding: 0;
        font-size: 0.8rem;
    }
    
    .card-artist {
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
    }
    
    .artist-name {
        padding-left: 2%;
    }
    
    .card-artist h5 {
        margin: 0;
        padding: 0;
        font-size: 0.7rem;
    }
    
    .card-like {
        grid-area: card-like;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px;
        padding: 0;
    }
    
    .card-play {
        grid-area: card-play;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px;
        padding: 0;
    }
    
    .footer {
        display: grid;
        position: fixed;
        bottom: 0;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "now-playing volume"
            "controls social-media"
        ;
        background-color: black;
        width: 100vw;
        height: 9vh;
        padding: 8px 4px;
    }
    
    .footer section {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 4vh;
        margin: 0;
        padding: 0;
    }
    
    .btn-spotify {
        opacity: 0.8;
        color: white;
        margin: 0 2%;
    }
    
    .btn-spotify:hover {
        opacity: 1;
    }
    
    .now-playing {
        grid-area: now-playing;
        display: flex;
        align-items: center;
        margin: 0 2%;
    }
    
    .now-playing img {
        height: 4vh;
    }
    
    .playing-song {
        margin: 0 10px;
        padding: 0;
    }
    
    .playing-song h6 {
        margin: 0;
        padding: 0;
        font-size: 10px;
    }
    
    .playing-song h5 {
        margin: 0;
        padding: 0;
        font-size: 10px;
    
    }
    
    .controls {
        grid-area: controls;
        display: flex;
        align-items: center;
    }
    
    .volume {
        grid-area: volume;
        display: flex;
        justify-content: space-around;
    }
    
    .volume-controls {
        width: 30px;
    
    }
    
    
    /* Input range of the volume */
    
    input[type="range"] {
        -webkit-appearance: none;
        appearance: none;
        background: transparent;
        cursor: pointer;
        width: 90px;
      }
      
      /* Removes default focus */
      input[type="range"]:focus {
        outline: none;
      }
      
      /******** Chrome, Safari, Opera and Edge Chromium styles ********/
      /* slider track */
      input[type="range"]::-webkit-slider-runnable-track {
        background-color: #eceff1;
        border-radius: 0.5rem;
        height: 0.2rem;
      }
      
      /* slider thumb - initially hidden */
      input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        margin-top: -2.5px;
        background-color: #2e7d32;
        border-radius: 0.5rem;
        height: 0.5rem;
        width: 0.5rem;
        opacity: 0; /* Initial opacity set to 0 */
        transition: opacity 0.3s ease; /* Add transition effect */
      }
      
      /* Show thumb on hover */
      input[type="range"]:hover::-webkit-slider-thumb {
        opacity: 1;
      }
      
      /* slider track completed when hover */
      input[type="range"]:hover::-webkit-slider-runnable-track {
        background-color: #b2dfdb;
      }
    
      /* end */
    
    .player-audio {
        visibility: hidden;
    }
    
    .hide {
        display: none;
    }
    
    .social-media {
        grid-area: social-media;
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
    }
    
    .social-media i {
        margin: 4px 8px;
    }


} */


